<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block titre %}E-BoOkShop|Administration{% endblock %}</title>
        <meta name="keywords" content="{% block motsCles %}{% endblock %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />
        {% block stylesheets %}{% endblock %}
        
        <link rel="shortcut icon" type="image/x-icon" href="{{asset('img/eboOkShop.gif')}}" >
    </head>
    <body>
        
                <div class="admin">  
                    <a  href="{{ path('admin') }}">Administration</a>
                </div>
            
        
            
        <div class="container">
            <div class="row">
                {% include '::modulesUsed/navigationAdmin.html.twig' %}
                <div class="span9">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        <hr />
	<footer id="footer" class="vspace20">
            <div class="container">
            <div class="row">
                <div class="span4" id="footer2">
                    <div  id="corporite">
                       <p>&copy; Copyright {{ "now"|date('Y') }} - E-BoOkShop | Tous droit r&egrave;serv&egrave;es</p>
                    </div>
                </div>    
            </div>
	</footer>	
        <script src="{{ asset('js/jquery-1.10.0.min.js') }}"></script>
        <script src="{{ asset('../js/bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/pages/ckeditor/ckeditor.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>